.photo-grid__item-controls {
  margin: 0 auto;
  text-align: left;
  max-width: var(--thumbnail-width);
}

.photo-grid__view-toggle {
  position: relative;
  display: inline-block;
  margin: 0;
  padding-top: .25em;
}

.view-toggle__checkbox {
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
}

.view-toggle__label {
  margin: 0;
  cursor: pointer;
  width: 2em;
  height: 1em;
  background: gray;
  display: inline-block;
  border-radius: 1em;
  position: relative;
}

.view-toggle__label::after {
  content: '';
  position: absolute;
  top: .15em;
  left: .15em;
  width: .7em;
  height: .7em;
  background: white;
  border-radius: .35em;
  transition: .3s;
}

.view-toggle__checkbox:checked + .view-toggle__label::after {
  left: calc(100% - .15em);
  transform: translateX(-100%);
}