.photos {
  margin: 20px auto;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.photo-grid > * {
  /* flex: 1 1 25%; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
  text-align: center;
}

.photo-grid__item {
  background-color: var(--page-secondary);
  padding: 2em 1em;
  border-radius: 0.5em;
}

/* Amplify UI Component styles */
amplify-s3-image {
  --width: var(--thumbnail-width);
}
