@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root{
  --page-max-width: 800px;

  --page-primary: #0e25f7;
  --page-secondary: #e0eefc;

  --primary: #0e25f7;
  --primary-tint: #0e25b7;
  --primary-shade: #0e2577;
  --secondary: #111111;
  --error: #f70606;

  --thumbnail-width: 150px;

  --amplify-primary-color: var(--primary);
  --amplify-primary-tint: var(--primary-tint);
  --amplify-primary-shade: var(--primary-shade);
}

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding : 0;
}

body{
  color: var(--secondary);
  font-family: "Source Sans Pro";
  line-height: 1.6;
}
