@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root{
  --primary: #0d85ff;
  --primary-tint: #4dc5ff;
  --primary-shade: #0d85af;
  --secondary: #111111;
  --error: #f70606;

  --amplify-primary-color: var(--primary);
  --amplify-primary-tint: var(--primary-tint);
  --amplify-primary-shade: var(--primary-shade);
}

/* base styles & title */
body{
  font-family: "Source Sans Pro";
  color: var(--secondary);
}

/* Amplify UI Component styles */
amplify-s3-image {
  --height: 200px;
}